* {
    font-family: 'Courier New', Courier, monospace;
}

#container {
    display:flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(44, 44, 44);
    padding: 5px;
    max-width: fit-content;
    background-color: rgb(220, 240, 255);
}

#display {
    background-color: white;
}

button {
    text-align: center;
    align-content: center;
    margin: 2px;
    height: 64px;
    width: 64px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(44, 44, 44);
}

button:active {
    opacity: 0.5;
  }

.operand, .decimal {
    font-style: italic;
    color: rgb(44, 44, 44);
    background-color: rgb(199, 199, 255);
}

.operator {
    font-weight: 1000px;
    background-color: rgb(255, 220, 220);
}

.modifier {
    background-color: rgb(220, 252, 210);
}

.equals {
    background-color: rgb(255, 240, 200);
}

.all-clear {
    color: rgb(244, 244, 244);
    background-color: rgb(55, 55, 55);
}

#display {
    height: 64px;
    width: 360px;
    font-size: 64px;
    font-weight: bolder;
    text-align: right;
    align-content: center;
    margin: 2px;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}